<a href="https://colab.research.google.com/github/chaw-thiri/DatabaseCourse/blob/main/w12_timeseries_lab_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import sqlite3 as sl
con = sl.connect('my-test.db')

In [28]:
with con:
    con.execute("""
    CREATE TABLE USER(
        id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
        name TEXT,
        age INTEGER
    );
    """)

In [29]:
sql = 'INSERT INTO USER(id,name,age) values(?,?,?)'
data =[
    (1,'Alice',21),
    (2,'Bob',22),
    (3,'Chris',23)
]

In [30]:
with con:
    con.executemany(sql,data)

In [31]:
with con:
    data = con.execute("SELECT * FROM USER WHERE AGE <= 22")
    for row in data:
        print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

In [32]:
# integrate sqlite with pandas
import pandas as pd
df_skill = pd.DataFrame({
    'user_id':[1,1,2,2,2,3,3],
    'skill':['Network Security','Algorithm Development','Network Security','Java','Python','Data Science','Machine Learning']
})
df_skill

   user_id                  skill
0        1       Network Security
1        1  Algorithm Development
2        2       Network Security
3        2                   Java
4        2                 Python
5        3           Data Science
6        3       Machine Learning

In [33]:
df_skill.to_sql('SKILL',con)
df = pd.read_sql('''
SELECT s.user_id, u.name, u.age, s.skill
    FROM USER u
    LEFT JOIN SKILL s ON u.id = s.user_id
''',con)
df

   user_id   name  age                  skill
0        1  Alice   21  Algorithm Development
1        1  Alice   21       Network Security
2        2    Bob   22                   Java
3        2    Bob   22       Network Security
4        2    Bob   22                 Python
5        3  Chris   23           Data Science
6        3  Chris   23       Machine Learning

In [34]:
df.to_sql('USER_SKILL',con)

7

In [41]:
with con:
    data = con.execute("SELECT name FROM sqlite_schema WHERE type = 'table' AND name NOT LIKE 'sqlite_%'")
    for row in data:
        print(row)

('USER',)
('SKILL',)
('USER_SKILL',)

USING SQLITE AS A TIMESERIES DATABASE

In [35]:
from random import uniform,choice
import time
from datetime import datetime, timedelta
import pandas as pd
%matplotlib inline

In [37]:
#compute the current day
import sqlite3

conn = sqlite3.connect('AdvancedSQLLab3.db')

cursor = conn.cursor()
r_list = cursor.execute("SELECT date('now')")
for rows in r_list:
    print(rows)

conn.commit()
conn.close()

('2023-11-13',)

In [38]:
#compute the last day of the current month
import sqlite3

conn = sqlite3.connect('AdvancedSQLLab3.db')

cursor = conn.cursor()
r_list = cursor.execute("SELECT date('now','start of month','+1 month','-1 day')")
for rows in r_list:
    print(rows)

conn.commit()
conn.close()

('2023-11-30',)

Inserting 500 rows of temperature which ranges from 18 to 26

In [39]:
import sqlite3

conn = sqlite3.connect('AdvancedSQLLab3.db')

cursor = conn.cursor()

# create index : for efficient querying , we'll want to index the time stamp column
commands =[
    """
    CREATE TABLE Temperature(Timestamp DATETIME NOT NULL, Temperature NUMERIC NOT NULL);
    """,
    """
    CREATE UNIQUE INDEX idx_timestamp ON Temperature(Timestamp);

    """
]
for command in commands:
    cursor.execute(command)


def dt(days):
    return timedelta(days = days)

N_rows = 500
now= datetime.now()


for i in range(N_rows):
    timestamp = now -dt(days=(N_rows-i))
    temperature = uniform(18,26)
    cursor.execute("INSERT INTO Temperature VALUES (:timestamp, :temperature)",
                   {'timestamp':timestamp,'temperature':temperature})

r_list= cursor.execute("SELECT datetime(Timestamp) as Date, Temperature from Temperature")
for rows in r_list:
    print(rows)
conn.commit()
conn.close()

('2022-07-01 00:45:18', 22.927460485536884)
('2022-07-02 00:45:18', 23.028351588675847)
('2022-07-03 00:45:18', 23.567208212477855)
('2022-07-04 00:45:18', 23.733393477260815)
('2022-07-05 00:45:18', 24.443956636534764)
('2022-07-06 00:45:18', 22.99117931366566)
('2022-07-07 00:45:18', 18.943851587316257)
('2022-07-08 00:45:18', 23.461799113423616)
('2022-07-09 00:45:18', 20.175822349043884)
('2022-07-10 00:45:18', 23.336369551181374)
('2022-07-11 00:45:18', 24.54287072076268)
('2022-07-12 00:45:18', 21.199649381642317)
('2022-07-13 00:45:18', 25.342646290699)
('2022-07-14 00:45:18', 19.201175414860842)
('2022-07-15 00:45:18', 18.95778166186016)
('2022-07-16 00:45:18', 19.685667221018633)
('2022-07-17 00:45:18', 18.077951384170028)
('2022-07-18 00:45:18', 18.625651349692845)
('2022-07-19 00:45:18', 24.626076483455204)
('2022-07-20 00:45:18', 24.64480490282243)
('2022-07-21 00:45:18', 24.440619959095386)
('2022-07-22 00:45:18', 19.569328731898512)
('2022-07-23 00:45:18', 21.419224485852503)
('2022-07-24 00:45:18', 20.612026468193427)
('2022-07-25 00:45:18', 20.99675339150013)
('2022-07-26 00:45:18', 18.973510173203437)
('2022-07-27 00:45:18', 24.045169448586392)
('2022-07-28 00:45:18', 24.464112553147206)
('2022-07-29 00:45:18', 23.928744524205598)
('2022-07-30 00:45:18', 22.042184942997157)
('2022-07-31 00:45:18', 20.204693960309704)
('2022-08-01 00:45:18', 22.49550320767084)
('2022-08-02 00:45:18', 24.99449627281118)
('2022-08-03 00:45:18', 22.45031565304776)
('2022-08-04 00:45:18', 19.783634947918646)
('2022-08-05 00:45:18', 18.847733251317024)
('2022-08-06 00:45:18', 25.846009552335495)
('2022-08-07 00:45:18', 21.666735806479874)
('2022-08-08 00:45:18', 23.74526761774932)
('2022-08-09 00:45:18', 21.668310507227808)
('2022-08-10 00:45:18', 20.900675098046506)
('2022-08-11 00:45:18', 18.037542210226114)
('2022-08-12 00:45:18', 20.820798649845386)
('2022-08-13 00:45:18', 22.939771820309687)
('2022-08-14 00:45:18', 21.492910425980156)
('2022-08-15 00:45:18', 22.337493740556887)
('2022-08-16 00:45:18', 23.39274864550888)
('2022-08-17 00:45:18', 20.259324115699567)
('2022-08-18 00:45:18', 24.386493376493664)
('2022-08-19 00:45:18', 19.629443356218093)
('2022-08-20 00:45:18', 20.857176798446922)
('2022-08-21 00:45:18', 19.589388252700882)
('2022-08-22 00:45:18', 21.173130148001935)
('2022-08-23 00:45:18', 21.992811202226367)
('2022-08-24 00:45:18', 24.13219589577117)
('2022-08-25 00:45:18', 20.318299451141144)
('2022-08-26 00:45:18', 24.486125728165376)
('2022-08-27 00:45:18', 23.03454607712218)
('2022-08-28 00:45:18', 20.83572642393341)
('2022-08-29 00:45:18', 24.540199059719992)
('2022-08-30 00:45:18', 20.77631923882848)
('2022-08-31 00:45:18', 22.380594602179688)
('2022-09-01 00:45:18', 25.166295074929945)
('2022-09-02 00:45:18', 25.726148027162786)
('2022-09-03 00:45:18', 19.308817902843177)
('2022-09-04 00:45:18', 23.068708484519487)
('2022-09-05 00:45:18', 25.415014968753862)
('2022-09-06 00:45:18', 25.465845821131882)
('2022-09-07 00:45:18', 21.32748695535115)
('2022-09-08 00:45:18', 21.696552148338036)
('2022-09-09 00:45:18', 24.815733761353318)
('2022-09-10 00:45:18', 21.47910131706675)
('2022-09-11 00:45:18', 25.34201299203562)
('2022-09-12 00:45:18', 21.45462392054742)
('2022-09-13 00:45:18', 21.71092478030074)
('2022-09-14 00:45:18', 23.765023249853616)
('2022-09-15 00:45:18', 23.99290050530453)
('2022-09-16 00:45:18', 25.929232175610586)
('2022-09-17 00:45:18', 23.55901186634567)
('2022-09-18 00:45:18', 20.04700946021049)
('2022-09-19 00:45:18', 25.190567858259918)
('2022-09-20 00:45:18', 21.47264024328435)
('2022-09-21 00:45:18', 22.992156510876253)
('2022-09-22 00:45:18', 21.44478215162136)
('2022-09-23 00:45:18', 25.169762037820153)
('2022-09-24 00:45:18', 18.323314552035875)
('2022-09-25 00:45:18', 21.98311696643296)
('2022-09-26 00:45:18', 22.456599374314777)
('2022-09-27 00:45:18', 20.54093043715269)
('2022-09-28 00:45:18', 20.458628554149875)
('2022-09-29 00:45:18', 22.283617438026667)
('2022-09-30 00:45:18', 21.957689012541675)
('2022-10-01 00:45:18', 18.0750058508004)
('2022-10-02 00:45:18', 24.974506811869414)
('2022-10-03 00:45:18', 24.242188762821883)
('2022-10-04 00:45:18', 22.18625856194687)
('2022-10-05 00:45:18', 25.287592784647593)
('2022-10-06 00:45:18', 20.927976026721318)
('2022-10-07 00:45:18', 18.76072569561512)
('2022-10-08 00:45:18', 22.203085062921446)
('2022-10-09 00:45:18', 19.067653048883585)
('2022-10-10 00:45:18', 22.811538463486755)
('2022-10-11 00:45:18', 21.22978272821245)
('2022-10-12 00:45:18', 25.892518656082583)
('2022-10-13 00:45:18', 19.56056554721451)
('2022-10-14 00:45:18', 19.266154312692525)
('2022-10-15 00:45:18', 25.554781336817456)
('2022-10-16 00:45:18', 20.959062728882206)
('2022-10-17 00:45:18', 20.91333520442231)
('2022-10-18 00:45:18', 19.86738991049617)
('2022-10-19 00:45:18', 22.982767802350473)
('2022-10-20 00:45:18', 24.58043213429332)
('2022-10-21 00:45:18', 21.566682808709018)
('2022-10-22 00:45:18', 21.958594993651776)
('2022-10-23 00:45:18', 23.69168123078457)
('2022-10-24 00:45:18', 23.612466910310143)
('2022-10-25 00:45:18', 20.3597321182503)
('2022-10-26 00:45:18', 20.1503818171618)
('2022-10-27 00:45:18', 21.917766798667582)
('2022-10-28 00:45:18', 25.39312702527831)
('2022-10-29 00:45:18', 20.503619963048315)
('2022-10-30 00:45:18', 22.45192486955073)
('2022-10-31 00:45:18', 22.47860463991643)
('2022-11-01 00:45:18', 24.431269285322376)
('2022-11-02 00:45:18', 22.20652973651211)
('2022-11-03 00:45:18', 19.951256292550617)
('2022-11-04 00:45:18', 18.15405016889221)
('2022-11-05 00:45:18', 24.88562396786562)
('2022-11-06 00:45:18', 24.972438556754348)
('2022-11-07 00:45:18', 25.548343364971117)
('2022-11-08 00:45:18', 19.875798445826938)
('2022-11-09 00:45:18', 18.504789078285032)
('2022-11-10 00:45:18', 23.94419149706829)
('2022-11-11 00:45:18', 22.45287478143153)
('2022-11-12 00:45:18', 23.845288704719806)
('2022-11-13 00:45:18', 18.416085409675496)
('2022-11-14 00:45:18', 23.464498466478613)
('2022-11-15 00:45:18', 18.9767747401791)
('2022-11-16 00:45:18', 23.99227727843822)
('2022-11-17 00:45:18', 21.391791049441327)
('2022-11-18 00:45:18', 23.47268534932727)
('2022-11-19 00:45:18', 23.900116779568744)
('2022-11-20 00:45:18', 22.81259917349089)
('2022-11-21 00:45:18', 24.607449615218307)
('2022-11-22 00:45:18', 24.953239626822576)
('2022-11-23 00:45:18', 23.787853238790042)
('2022-11-24 00:45:18', 18.158541598155)
('2022-11-25 00:45:18', 19.01175820429247)
('2022-11-26 00:45:18', 18.38085891877722)
('2022-11-27 00:45:18', 18.246784931244452)
('2022-11-28 00:45:18', 20.28282308062663)
('2022-11-29 00:45:18', 25.605019854155195)
('2022-11-30 00:45:18', 19.356248941758547)
('2022-12-01 00:45:18', 19.350927463835383)
('2022-12-02 00:45:18', 20.52103454985661)
('2022-12-03 00:45:18', 22.004298395652643)
('2022-12-04 00:45:18', 18.414094119715415)
('2022-12-05 00:45:18', 18.42814368370658)
('2022-12-06 00:45:18', 18.45497712209273)
('2022-12-07 00:45:18', 23.94269995966368)
('2022-12-08 00:45:18', 18.97953831754603)
('2022-12-09 00:45:18', 24.09196524746315)
('2022-12-10 00:45:18', 24.962678117465924)
('2022-12-11 00:45:18', 25.588057280584742)
('2022-12-12 00:45:18', 18.287877678236285)
('2022-12-13 00:45:18', 22.365900467555427)
('2022-12-14 00:45:18', 18.29435746153539)
('2022-12-15 00:45:18', 22.122144716167686)
('2022-12-16 00:45:18', 18.309289308887514)
('2022-12-17 00:45:18', 24.910864610388245)
('2022-12-18 00:45:18', 22.80796221304749)
('2022-12-19 00:45:18', 20.4832925221863)
('2022-12-20 00:45:18', 22.64721240550221)
('2022-12-21 00:45:18', 23.881553502046348)
('2022-12-22 00:45:18', 20.05136415478455)
('2022-12-23 00:45:18', 20.810654446621704)
('2022-12-24 00:45:18', 25.779544546549886)
('2022-12-25 00:45:18', 24.8762181040214)
('2022-12-26 00:45:18', 19.401791838777253)
('2022-12-27 00:45:18', 23.810047893135476)
('2022-12-28 00:45:18', 18.201390067861556)
('2022-12-29 00:45:18', 23.912981943629166)
('2022-12-30 00:45:18', 19.551595641544402)
('2022-12-31 00:45:18', 25.99180459957418)
('2023-01-01 00:45:18', 19.765659660758413)
('2023-01-02 00:45:18', 21.903237521330112)
('2023-01-03 00:45:18', 24.155962084540967)
('2023-01-04 00:45:18', 24.06104204049322)
('2023-01-05 00:45:18', 25.597673834480744)
('2023-01-06 00:45:18', 21.543396492913278)
('2023-01-07 00:45:18', 22.6526708163844)
('2023-01-08 00:45:18', 19.45594635366462)
('2023-01-09 00:45:18', 24.341749417687502)
('2023-01-10 00:45:18', 20.512641415713688)
('2023-01-11 00:45:18', 19.953925134277725)
('2023-01-12 00:45:18', 21.355124135426216)
('2023-01-13 00:45:18', 25.99587059639847)
('2023-01-14 00:45:18', 20.670303898313094)
('2023-01-15 00:45:18', 18.83304084207147)
('2023-01-16 00:45:18', 20.383621375518644)
('2023-01-17 00:45:18', 21.570961057719874)
('2023-01-18 00:45:18', 21.32382955332391)
('2023-01-19 00:45:18', 20.75951963248245)
('2023-01-20 00:45:18', 20.507578532344873)
('2023-01-21 00:45:18', 19.748217148581368)
('2023-01-22 00:45:18', 25.607278302166076)
('2023-01-23 00:45:18', 21.576902858553538)
('2023-01-24 00:45:18', 21.62480560025585)
('2023-01-25 00:45:18', 20.216473722958664)
('2023-01-26 00:45:18', 24.454090073379042)
('2023-01-27 00:45:18', 22.039890877291302)
('2023-01-28 00:45:18', 18.90333687183049)
('2023-01-29 00:45:18', 19.189202497104947)
('2023-01-30 00:45:18', 22.976697658509686)
('2023-01-31 00:45:18', 18.331463372974603)
('2023-02-01 00:45:18', 24.126995985057405)
('2023-02-02 00:45:18', 18.269249385654806)
('2023-02-03 00:45:18', 19.347277148474994)
('2023-02-04 00:45:18', 22.454651587325156)
('2023-02-05 00:45:18', 25.145237123427286)
('2023-02-06 00:45:18', 19.249340540789987)
('2023-02-07 00:45:18', 25.11349302437769)
('2023-02-08 00:45:18', 23.416386217974363)
('2023-02-09 00:45:18', 18.317730850298044)
('2023-02-10 00:45:18', 18.511066211913825)
('2023-02-11 00:45:18', 20.72938539317183)
('2023-02-12 00:45:18', 19.81401784121684)
('2023-02-13 00:45:18', 25.98055107575991)
('2023-02-14 00:45:18', 22.110844627918016)
('2023-02-15 00:45:18', 25.572957119848095)
('2023-02-16 00:45:18', 24.125173885091417)
('2023-02-17 00:45:18', 21.93391577151905)
('2023-02-18 00:45:18', 18.193102799596055)
('2023-02-19 00:45:18', 24.285999743645725)
('2023-02-20 00:45:18', 21.382928032424022)
('2023-02-21 00:45:18', 23.037346957219633)
('2023-02-22 00:45:18', 23.77608221435684)
('2023-02-23 00:45:18', 22.462586025107715)
('2023-02-24 00:45:18', 21.97971935342975)
('2023-02-25 00:45:18', 25.824070436406874)
('2023-02-26 00:45:18', 25.638621334280877)
('2023-02-27 00:45:18', 18.650678428654295)
('2023-02-28 00:45:18', 24.73967002309461)
('2023-03-01 00:45:18', 23.186010937632936)
('2023-03-02 00:45:18', 24.963179874824153)
('2023-03-03 00:45:18', 21.284003151318192)
('2023-03-04 00:45:18', 18.575781040475174)
('2023-03-05 00:45:18', 18.993027246958498)
('2023-03-06 00:45:18', 24.589495285772028)
('2023-03-07 00:45:18', 22.032242573153724)
('2023-03-08 00:45:18', 24.186527611069884)
('2023-03-09 00:45:18', 22.054398272369575)
('2023-03-10 00:45:18', 25.25785294654506)
('2023-03-11 00:45:18', 19.676341565320428)
('2023-03-12 00:45:18', 21.72457607081728)
('2023-03-13 00:45:18', 19.726173573550494)
('2023-03-14 00:45:18', 25.75200179680934)
('2023-03-15 00:45:18', 21.826973759406016)
('2023-03-16 00:45:18', 24.979532341755426)
('2023-03-17 00:45:18', 20.18843550714907)
('2023-03-18 00:45:18', 20.115496725502673)
('2023-03-19 00:45:18', 21.036164240071063)
('2023-03-20 00:45:18', 22.58069727925296)
('2023-03-21 00:45:18', 21.64159124999709)
('2023-03-22 00:45:18', 25.91666113372935)
('2023-03-23 00:45:18', 21.67023391947442)
('2023-03-24 00:45:18', 22.739641906566348)
('2023-03-25 00:45:18', 21.049552587455928)
('2023-03-26 00:45:18', 19.586611597642772)
('2023-03-27 00:45:18', 23.832554794617106)
('2023-03-28 00:45:18', 19.98950373616125)
('2023-03-29 00:45:18', 19.16637589889872)
('2023-03-30 00:45:18', 24.249646934514146)
('2023-03-31 00:45:18', 21.40165053557806)
('2023-04-01 00:45:18', 23.46856129610648)
('2023-04-02 00:45:18', 23.660973273239527)
('2023-04-03 00:45:18', 22.92898539409566)
('2023-04-04 00:45:18', 22.9821868087931)
('2023-04-05 00:45:18', 24.784324568348737)
('2023-04-06 00:45:18', 18.668885803237103)
('2023-04-07 00:45:18', 19.492473986155318)
('2023-04-08 00:45:18', 20.48844449152433)
('2023-04-09 00:45:18', 22.53087493968747)
('2023-04-10 00:45:18', 20.89433977019433)
('2023-04-11 00:45:18', 19.634380507753818)
('2023-04-12 00:45:18', 25.670896278992092)
('2023-04-13 00:45:18', 21.071431973022197)
('2023-04-14 00:45:18', 19.5455635873167)
('2023-04-15 00:45:18', 21.00568587969128)
('2023-04-16 00:45:18', 19.511720512772456)
('2023-04-17 00:45:18', 19.595660965070053)
('2023-04-18 00:45:18', 24.793849426175093)
('2023-04-19 00:45:18', 22.159721345206727)
('2023-04-20 00:45:18', 19.797418688374748)
('2023-04-21 00:45:18', 24.28883257247052)
('2023-04-22 00:45:18', 20.54062130696787)
('2023-04-23 00:45:18', 20.145930504393682)
('2023-04-24 00:45:18', 19.46841379549732)
('2023-04-25 00:45:18', 24.53877264908703)
('2023-04-26 00:45:18', 24.936039434260184)
('2023-04-27 00:45:18', 19.521465792691743)
('2023-04-28 00:45:18', 21.823180290537948)
('2023-04-29 00:45:18', 24.23300780585015)
('2023-04-30 00:45:18', 20.627017294324897)
('2023-05-01 00:45:18', 19.563085673031807)
('2023-05-02 00:45:18', 25.029757317080975)
('2023-05-03 00:45:18', 22.718394908835357)
('2023-05-04 00:45:18', 25.016375539298245)
('2023-05-05 00:45:18', 20.17810278635517)
('2023-05-06 00:45:18', 25.80991565068016)
('2023-05-07 00:45:18', 18.537111966462515)
('2023-05-08 00:45:18', 24.508669908599032)
('2023-05-09 00:45:18', 24.082610673924354)
('2023-05-10 00:45:18', 21.00814398754261)
('2023-05-11 00:45:18', 18.416947513959702)
('2023-05-12 00:45:18', 19.440887409298576)
('2023-05-13 00:45:18', 20.17622737047)
('2023-05-14 00:45:18', 18.37366667752953)
('2023-05-15 00:45:18', 18.69173250559001)
('2023-05-16 00:45:18', 19.895289336210467)
('2023-05-17 00:45:18', 23.147807677397772)
('2023-05-18 00:45:18', 19.914534091396355)
('2023-05-19 00:45:18', 24.01895782262727)
('2023-05-20 00:45:18', 25.168656352885442)
('2023-05-21 00:45:18', 20.45047262397486)
('2023-05-22 00:45:18', 20.330715828072996)
('2023-05-23 00:45:18', 21.716332887619465)
('2023-05-24 00:45:18', 25.604289617648156)
('2023-05-25 00:45:18', 20.84141784962035)
('2023-05-26 00:45:18', 21.412583480065944)
('2023-05-27 00:45:18', 19.15638145204158)
('2023-05-28 00:45:18', 20.60373357131953)
('2023-05-29 00:45:18', 23.741162572954543)
('2023-05-30 00:45:18', 24.134114961843164)
('2023-05-31 00:45:18', 22.881684544114638)
('2023-06-01 00:45:18', 19.59594517294908)
('2023-06-02 00:45:18', 23.485728456718604)
('2023-06-03 00:45:18', 20.513688506209085)
('2023-06-04 00:45:18', 20.110989677239058)
('2023-06-05 00:45:18', 23.422252035367883)
('2023-06-06 00:45:18', 19.17686409845964)
('2023-06-07 00:45:18', 24.42461190752139)
('2023-06-08 00:45:18', 19.66288963989257)
('2023-06-09 00:45:18', 19.60085888639957)
('2023-06-10 00:45:18', 25.15076947073912)
('2023-06-11 00:45:18', 20.44070420487457)
('2023-06-12 00:45:18', 25.9487356988165)
('2023-06-13 00:45:18', 23.855654980914938)
('2023-06-14 00:45:18', 24.28495941774355)
('2023-06-15 00:45:18', 20.495096631241587)
('2023-06-16 00:45:18', 18.7387546324141)
('2023-06-17 00:45:18', 18.147547656336158)
('2023-06-18 00:45:18', 20.47288037693189)
('2023-06-19 00:45:18', 20.28197167574871)
('2023-06-20 00:45:18', 19.692394713467696)
('2023-06-21 00:45:18', 23.97866361379229)
('2023-06-22 00:45:18', 18.46413425577083)
('2023-06-23 00:45:18', 20.47608649985422)
('2023-06-24 00:45:18', 19.01303119950758)
('2023-06-25 00:45:18', 24.52626106616676)
('2023-06-26 00:45:18', 21.67690501818972)
('2023-06-27 00:45:18', 20.45605308875565)
('2023-06-28 00:45:18', 23.085102226289404)
('2023-06-29 00:45:18', 24.365708219735506)
('2023-06-30 00:45:18', 18.457277516608006)
('2023-07-01 00:45:18', 20.557558426059906)
('2023-07-02 00:45:18', 23.650271710878357)
('2023-07-03 00:45:18', 18.248786850590786)
('2023-07-04 00:45:18', 18.06770182043748)
('2023-07-05 00:45:18', 22.690003035993026)
('2023-07-06 00:45:18', 21.918642468094337)
('2023-07-07 00:45:18', 22.573357168491356)
('2023-07-08 00:45:18', 22.198643466343977)
('2023-07-09 00:45:18', 20.33536915873202)
('2023-07-10 00:45:18', 25.818687561052435)
('2023-07-11 00:45:18', 20.72882970977405)
('2023-07-12 00:45:18', 18.109536876090942)
('2023-07-13 00:45:18', 25.256178198753727)
('2023-07-14 00:45:18', 20.232041565383433)
('2023-07-15 00:45:18', 21.890290979092413)
('2023-07-16 00:45:18', 21.706152482126743)
('2023-07-17 00:45:18', 23.282469938748175)
('2023-07-18 00:45:18', 21.926614373703565)
('2023-07-19 00:45:18', 19.515375364178414)
('2023-07-20 00:45:18', 23.817393399130903)
('2023-07-21 00:45:18', 20.565205917146308)
('2023-07-22 00:45:18', 21.126314441303265)
('2023-07-23 00:45:18', 23.404671390959543)
('2023-07-24 00:45:18', 22.570881151937503)
('2023-07-25 00:45:18', 24.804274116565203)
('2023-07-26 00:45:18', 25.03935336743426)
('2023-07-27 00:45:18', 21.160176583339922)
('2023-07-28 00:45:18', 22.53619961514788)
('2023-07-29 00:45:18', 20.672995759996105)
('2023-07-30 00:45:18', 20.544499068291486)
('2023-07-31 00:45:18', 18.273386047571865)
('2023-08-01 00:45:18', 23.275195994130108)
('2023-08-02 00:45:18', 20.306456649518594)
('2023-08-03 00:45:18', 24.108093820696343)
('2023-08-04 00:45:18', 21.40648394292737)
('2023-08-05 00:45:18', 23.51869831411755)
('2023-08-06 00:45:18', 19.189573651610623)
('2023-08-07 00:45:18', 22.928099083737564)
('2023-08-08 00:45:18', 20.10709200706113)
('2023-08-09 00:45:18', 21.236767311208467)
('2023-08-10 00:45:18', 18.616042892306695)
('2023-08-11 00:45:18', 21.3708166355489)
('2023-08-12 00:45:18', 21.15766572251539)
('2023-08-13 00:45:18', 21.835428257381288)
('2023-08-14 00:45:18', 18.067603490774857)
('2023-08-15 00:45:18', 24.690445272142213)
('2023-08-16 00:45:18', 20.601590159053224)
('2023-08-17 00:45:18', 19.661201861031607)
('2023-08-18 00:45:18', 20.666186607840967)
('2023-08-19 00:45:18', 21.30603479026805)
('2023-08-20 00:45:18', 20.025514792599733)
('2023-08-21 00:45:18', 25.7598996348911)
('2023-08-22 00:45:18', 23.33818698936039)
('2023-08-23 00:45:18', 20.508480547609693)
('2023-08-24 00:45:18', 25.316238347120226)
('2023-08-25 00:45:18', 25.811961116961445)
('2023-08-26 00:45:18', 25.43278432277863)
('2023-08-27 00:45:18', 18.420439207912278)
('2023-08-28 00:45:18', 25.536510387698897)
('2023-08-29 00:45:18', 18.011124722610973)
('2023-08-30 00:45:18', 20.07264446547825)
('2023-08-31 00:45:18', 22.625580101664344)
('2023-09-01 00:45:18', 18.71062604837138)
('2023-09-02 00:45:18', 24.82797623214563)
('2023-09-03 00:45:18', 25.347614042471093)
('2023-09-04 00:45:18', 24.428640832056725)
('2023-09-05 00:45:18', 19.066446513898953)
('2023-09-06 00:45:18', 21.69872952979789)
('2023-09-07 00:45:18', 24.058332628676826)
('2023-09-08 00:45:18', 22.697611014136207)
('2023-09-09 00:45:18', 19.677402160483524)
('2023-09-10 00:45:18', 25.68532161119576)
('2023-09-11 00:45:18', 23.3945744667472)
('2023-09-12 00:45:18', 24.2384185581424)
('2023-09-13 00:45:18', 20.40864035278883)
('2023-09-14 00:45:18', 22.892196335489864)
('2023-09-15 00:45:18', 22.39714611130795)
('2023-09-16 00:45:18', 18.172928406672227)
('2023-09-17 00:45:18', 20.00404976618531)
('2023-09-18 00:45:18', 23.40121747836937)
('2023-09-19 00:45:18', 24.878630960153693)
('2023-09-20 00:45:18', 24.239729625077057)
('2023-09-21 00:45:18', 23.720412840897)
('2023-09-22 00:45:18', 24.865403519293974)
('2023-09-23 00:45:18', 24.858051169942122)
('2023-09-24 00:45:18', 25.75673549403851)
('2023-09-25 00:45:18', 18.235267850384908)
('2023-09-26 00:45:18', 18.63764131540415)
('2023-09-27 00:45:18', 19.368208400791374)
('2023-09-28 00:45:18', 18.302461456279435)
('2023-09-29 00:45:18', 22.673783298672234)
('2023-09-30 00:45:18', 22.40280982329993)
('2023-10-01 00:45:18', 20.615509515640678)